<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>My Portfolio &mdash; Muzahid</title>

<link href="css/foundation.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/foundation-icons/foundation-icons.css" />
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/owl.transitions.css">
<link rel="stylesheet" href="css/style.css">

<script type="text/javascript" src="js/foundation.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/owl.carousel.js"></script>

<script type="text/javascript">
	$(document).ready(function() {

		$("#owl-demo").owlCarousel({
			autoPlay : 3000, //Set AutoPlay to 3 seconds

			navigation : true, // Show next and prev buttons
			slideSpeed : 300,
			paginationSpeed : 400,
			singleItem : true

		});

	});
</script>
</head>
<body>
	<div class="fixed">
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1>
						<a href="#">My Portfolio</a>
					</h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li id="social-github"><a href="https://github.com/mmuzahid"><i
							class="fi-social-github"></i> </a></li>
					<li id="mail  size-24"><a href="mailto:cv.muzahid@gmail.com"><i
							class="fi-mail"></i> </a></li>
					<li id="social-linkedin"><a
						href="https://bd.linkedin.com/in/mmuzahid"> <i
							class="fi-social-linkedin large"></i> </a></li>

					<li class="brand"><a href="#aboutme">About Me</a></li>
					<li class="brand"><a href="#skill">Skill</a></li>
					<li class="brand"><a href="#work">Work</a></li>
					<li class="brand"><a href="#contact">Contact</a></li> &nbsp;

				</ul>
			</section>
		</nav>
	</div>

	<div class="medium-12 large-12 grid-content">
		<br /> <br />
	</div>
	<header class="slim-marketing-hero without-subnav">
		<div class="row">
			<div class="small-12 columns">
				<h1>Let me introduce Myself...</h1>
			</div>
		</div>
	</header>


	<div class="large-12 columns">

		<div class="row">
			<div class="large-12 columns show-for-small">
				<img src="http://placehold.it/1200x700&amp;text=Mobile Header">
			</div>
		</div>
		<br>

		<div class="row">
			<div class="large-12 columns">
				<div class="row">

					<div class="large-2 small-6 columns">
						<h5></h5>
						<hr>
						<div class="row">
							<div class="large-1 column">
								<img src="http://placehold.it/50x50&amp;text=[img]">
							</div>
							<div class="large-9 columns">
								<h5>
									<a href="#aboutme">About Me</a>
								</h5>
							</div>
						</div>
						<hr />
						<div class="hide-for-small">
							<div class="row">
								<div class="large-1 column">
									<img src="http://placehold.it/50x50&amp;text=[img]">
								</div>
								<div class="large-9 columns">
									<h5 class="subheader">
										<a href="#skill">Skill</a>
									</h5>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="large-1 column">
									<img src="http://placehold.it/50x50&amp;text=[img]">
								</div>
								<div class="large-9 columns">
									<h5 class="subheader">
										<a href="#work">Work</a>
									</h5>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="large-1 column">
									<img src="http://placehold.it/50x50&amp;text=[img]">
								</div>
								<div class="large-9 columns">
									<h5 class="subheader">
										<a href="#contact">Contact</a>
									</h5>
								</div>
							</div>
						</div>
					</div>


					<div class="large-4 small-6 columns">
						<img src="img/pp.jpg" />
					</div>


					<div class="large-6 small-12 columns">
						<h4>Summary Info:</h4>
						<div class="panel">
							<p>
								<strong>Current Role: </strong>Working as a Software Developer
							</p>
							<p>
								<strong>My Skills: </strong>Java, MySQL, Oracle, HTML, CSS,
								JavaScript
							</p>
							<p>
								<strong>Mail me@ </strong>cv.muzahid@gmail.com
							</p>
							<p>
								<strong>Call me@ </strong> +8801715329671
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<hr />
		<div id="aboutme" class="row">
			<div class="large-12 columns">
				<div class="large-12 small-6 columns ">
					<h4 class="subheader">About Me:</h4>
					<div class="panel  callout radius">Software Engineer with
						strong knowledge of core Java, JavaEE, OOP. More than 3 years of
						experience in designing and developing application using Java,
						MySQL, Play Framework etc. Good problem solving capability with
						ability to work successfully either individually or as part of a
						team. Mail: cv.muzahid@gmail.com Phone: +8801715329671</div>
				</div>
			</div>
		</div>

		<hr />
		<div id="skill" class="row">
			<div class="large-12 columns">
				<div class="large-12 small-6 columns ">
					<h4 class="subheader">Skill:</h4>
					<div class="panel  callout radius">Java, Java EE, MySQL, Oracle, HTML, CSS, JS, Bootstrap, GIT, SVN, Design Patterns, Eclipse</div>
				</div>
			</div>
		</div>

		<hr />
		<div class="row">
			<div class="large-12 columns">
				<div class="large-12 small-6 columns">
					<div id="owl-demo" class="owl-carousel owl-theme">
						<div class="item">
							<img src="img/projectimage1.jpg" alt="Project1">
						</div>
						<div class="item">
							<img src="img/projectimage2.jpg" alt="Project2">
						</div>
						<div class="item">
							<img src="img/projectimage3.jpg" alt="Project3">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="work" class="row">
			<div class="large-12 columns">
				<div class="large-12 small-6 columns ">
					<h4 class="subheader">Work:</h4>
					<div class="panel  callout radius">
						<p>
							<strong>mTikka:</strong> Mobile and Web-based application which
							automated vaccination schedule of children running at Bangladesh
							by ICDDRB. I worked at web end.
						</p>
						<p>
							<strong>mCARE:</strong> Mobile and Web-based application which
							automated health service schedule of pregnant woman running at
							Bangladesh as a research project of Johns Hopkins University,
							USA. I worked at web end.
						</p>
						<p>
							<strong>ExamHub:</strong> Online MCQ examination System. This is
							my personal Project. URL: http://examhub.herokuapp.com.
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr />
		<div id="contact" class="row">
			<div class="large-12 columns">
				<div class="large-12 small-6 columns ">
					<h4 class="subheader">Contact:</h4>
					<div class="panel  callout radius">
						<p>
							<strong>GITHUB </strong><i class="fi-social-github"></i><a
								href="https://github.com/mmuzahid">
								https://github.com/mmuzahid </a>
						</p>
						<p>
							<strong>MAIL </strong><i class="fi-mail"></i> <a
								href="mailto:cv.muzahid@gmail.com"> cv.muzahid@gmail.com</a>
						</p>
						<p>
							<strong>LINKEDIN </strong><i class="fi-social-linkedin large"></i>
							<a href="https://bd.linkedin.com/in/mmuzahid">
								https://bd.linkedin.com/in/mmuzahid</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<footer class="row">
			<div class="large-12 columns">
				<hr>
				<h4 class="main title small-centered">My Google Map Location</h4>
				<div class="columns small-12 medium-12 large-8">
					<iframe height="300" frameborder="0"
						style="border-bottom: 1px solid #999; border-radius: 6px; box-shadow: 0 1px 5px 0 #999; width: 100%;"
						src="https://www.google.com/maps/embed/v1/place?q=Dhaka%2CBangladesh&key=AIzaSyDdbhu4opP-Hu8enECiMgSoOVQpWYr2NF4"></iframe>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<p>© Copyright no one at all. Go to town.</p>
					</div>
					<div class="large-6 small-12 columns">
						<ul class="inline-list right">
							<li id="social-github"><a href="https://github.com/mmuzahid"><i
									class="fi-social-github size-24"></i> </a></li>
							<li id="mail"><a href="mailto:cv.muzahid@gmail.com"><i
									class="fi-mail size-24"></i> </a></li>
							<li id="social-linkedin"><a
								href="https://bd.linkedin.com/in/mmuzahid"> <i
									class="fi-social-linkedin size-24"></i> </a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

	</div>

</body>
</html>